// {
//     "presets": [
//         [
//             "@babel/preset-env"
//         ]
//     ],
//     "plugins": [
//         "@babel/plugin-transform-object-assign"
//     ]
// }

{
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-runtime"]
      }
    },
    "presets": [
      "@babel/preset-env"
    ],
    "plugins": [
      "@babel/plugin-proposal-object-rest-spread"
    ]
  }